/* .trans2 {
    background-color: cornflowerblue;
    position: absolute;
    top: 30%;
    left:30%;
    padding: 30px;
    transform: rotate(90deg);
    transform-origin: top left;
    transition: transform 2s;
    transition-delay: 1s;
} */
div:first-child{
    background-color: darkgoldenrod;
    width: 20%;
    height: 20%;
    position: absolute;
    top: 20%;
    left: 20%;
    opacity: 0.5;
}
div:nth-child(2) {
    background-color: darkred;
    width: 20%;
    height: 20%;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: -1;
}
div:nth-child(3) {
    margin-top: 15%;
    position: relative;
}